body {
  background: green;
}

.card {
  background: white;
  display: inline-block;
  margin: auto;
  height: 600px;
  width: 380px;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid brown;
  position: relative;
}
.top {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 6rem;
}
.bottom {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 6rem;
}

.number {
  position: absolute;
  top: 50%;
  left: 42%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 8rem;
}

button{
    position:absolute;
    margin-left: 50px;
    margin-top: 240px;
    /* top: 10%;
    left:10%; */
    /* -ms-transform: translateY(-10%);
    transform: translateY(-10%); */
    font-size: 5rem;
}
